<h2><strong>Datenschutzerklärung</strong></h2>
<p>Verantwortlich im Sinne der Datenschutzgesetzes:</p>
<p>Alexej Bohr<br>Im Bornfeld 5<br>63825 Blankenbach</p>
<p><strong>Datenschutz</strong></p>
<p>Als Webseitenbetreiber nehmen wir den Schutz aller persönlichen Daten sehr ernst. Alle personenbezogenen Informationen werden vertraulich und gemäß den gesetzlichen Vorschriften behandelt, wie in dieser Datenschutzerklärung erläutert.</p>
<p>Unserer Webseite kann selbstverständlich genutzt werden, ohne dass Sie persönliche Daten angeben. Wenn jedoch zu irgendeinem Zeitpunkt persönliche Daten wie z.B. Name, Adresse oder E-Mail abgefragt werden, wird dies auf freiwilliger Basis geschehen. Niemals
    werden von uns erhobene Daten ohne Ihre spezielle Genehmigung an Dritte weitergegeben.
</p>
<p>Datenübertragung im Internet, wie zum Beispiel über E-Mail, kann immer Sicherheitslücken aufweisen. Der komplette Schutz der Daten ist im Internet nicht möglich.</p>
<p><strong>Datenschutzerklärung Instagram</strong></p>
<p>Auf unseren Webseiten werden Funktionen von Instagram verwendet, angeboten von Instagram Inc., 1601 Willow Road, Menlo Park, CA 94025, USA. Inhalte unserer Seiten können mit Ihrem Instagram-Profil verknüpft werden, sofern Sie zeitgleich in Ihrem Instagram-Account
    eingeloggt sind. Durch Klick auf den Instagram-Button können diese verlinkt werden. Instagram kann dabei die Nutzung unserer Seiten durch Sie registrieren. Als Webseitenbetreiber haben wir keine Informationen darüber, welche Daten übermittel werden
    und wie diese genutzt werden.</p>
<p>Mehr Informationen dazu finden Sie hier: http://instagram.com/about/legal/privacy/</p>
<p><strong>Auskunft, Löschung, Sperrung</strong></p>
<p>Zu jedem Zeitpunkt können Sie sich über die personenbezogenen Daten, deren Herkunft und Empfänger und den Nutzen der Datenverarbeitung informieren und unentgeltlich eine Korrektur, Sperrung oder Löschung dieser Daten verlangen. Bitte nutzen Sie dafür
    die im Impressum angegebenen Kontaktwege. Für weitere Fragen zum Thema stehen wir Ihnen ebenfalls jederzeit zur Verfügung.
</p>
<p><strong>Server-Log-Files</strong></p>
<p>Der Seiten-Provider erhebt und speichert automatisch Daten in Server-Log Files, die von Ihrem Browser an uns übermittelt werden. Diese Daten enthalten:</p>
<p>– Browsertyp/ Browserversion</p>
<p>– Betriebssystem des Rechners</p>
<p>– Referrer URL</p>
<p>– Hostname des zugreifenden Rechners</p>
<p>– Uhrzeit der Serveranfrage</p>
<p>Diese Daten sind nicht personenbezogen. Es erfolgt keine Zusammenführung dieser Daten mit anderen Datenquellen. Wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden behalten wir uns das Recht vor, diese Daten nachträglich zu überprüfen.</p>
<p><strong>Cookies</strong></p>
<p>Viele Internetseiten verwenden Cookies. Cookies sind unschädlich für Ihren Rechner und virenfrei. Sie dienen dazu, Internet-Angebote für die Besucher einer
    <a href="" target="_blank"></a> freundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem Computer abgelegt werden und die Ihr Browser verwendet.
</p>
<p>Wir verwenden in der Regel so genannte „Session-Cookies“. Diese werden nach Verlassen unserer Seite automatisch gelöscht. Andere Cookies bleiben auf Ihrem Computer gespeichert, bis Sie diese löschen. Diese Cookies helfen dabei, Ihren Rechner beim nächsten
    Besuch wiederzuerkennen.</p>
<p>Über die Browsereinstellungen können sie festlegen, dass Sie über neue Cookies informiert werden und Cookies jeweils annehmen müssen. Ebenso können Sie die Annahme von Cookies für bestimmte Fälle oder generell ausschließen oder das automatische Löschen
    der Cookies beim Schließen des Browser aktivieren. Werden Cookies desaktiviert, kann die Funktionalität unserer Website eingeschränkt sein.</p>
<p><strong>Kontaktformular</strong></p>
<p>Kontaktdaten, die uns über unser Kontaktformular erreichen, werden inklusive des Inhalts der Anfrage für Bearbeitungszwecke und für mögliche Anschlussfragen gespeichert. Diese Daten werden ohne Ihre spezifische Zustimmung nicht weitergegeben.</p>
<p><strong>Werbe-Mails Widerspruch&nbsp;</strong></p>
<p>Wir untersagen hiermit ausdrücklich der Nutzung der im Impressum veröffentlichten Kontaktdaten zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien. Im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch
    Spam-E-Mails, halten sich die Betreiber der Webseitenrechtliche Schritte vor.</p>
<p><strong> Bootstrap CDN</strong></p>
<p>
    Wir verwenden auf unserer Seite den Dienst Bootstrap CDN des Unternehmens StackPath, LLC, 2021 McKinney Avenue, Suite 1100, 75201 Texas, Vereinigte Staaten, E-Mail: privacy@stackpath.com, Website: https://www.stackpath.com/. Die Verarbeitung erfolgt auch
    in einem Drittstaat, für den kein Angemessenheitsbeschluss der Kommission vorliegt. Daher kann das für die DSGVO übliche Schutzniveau bei der Übermittlung nicht gewährleistet werden, da nicht auszuschließen ist, dass im Drittland z.B. Behörden Zugriff
    auf die erhobenen Daten nehmen können. Rechtsgrundlage für die Übermittlung der personenbezogenen Daten stellt gem. Art. 6 Abs. 1 lit. f DSGVO unser berechtigtes Interesse an der Verarbeitung dar. Unser berechtigtes Interesse liegt in der Erreichung
    des nachfolgend geschilderten Zwecks. Bei Bootstrap CDN handelt es sich um ein Content Delivery Network, das unsere Inhalte über verschiedene Server spiegelt, um eine optimale Erreichbarkeit weltweit sicherzustellen. Im Hinblick auf die Verarbeitung
    steht Ihnen das in Art. 21 aufgeführte Widerspruchsrecht zu. Nähere Informationen finden Sie am Ende dieser Datenschutzerklärung. Weitere Informationen zum Handling der übertragenen Daten finden Sie in der Datenschutzerklärung des Anbieters unter
    https://www.bootstrapcdn.com/privacy-policy/.
</p>
<p><strong>Änderung der Datenschutzbestimmungen</strong></p>
<p>Unsere Datenschutzerklärung können in unregelmäßigen Abständen angepasst werden, damit sie den aktuellen rechtlichen Anforderungen entsprechen oder um Änderungen unserer Dienstleistungen umzusetzen, z. B. bei der Einfügung neuer Angebote. Für Ihren nächsten
    Besuch gilt dann automatisch die neue <a href="https://xn--datenschutzerklrungmuster-zec.de/was-ist-eine-datenschutzerklaerung/" target="_blank"><strong>Datenschutzerklärung</strong></a>.</p>
<p><strong>Kontakt zum Datenschutzmitarbeiter</strong></p>
<p>Für Fragen zum Datenschutz schicken Sie uns bitte eine Nachricht an info@bohrlab.de mit dem Betreff „Datenschutz“.
</p>
<p>Diese Widerrufsbelehrung Seite wurde bei <a href="https://xn--datenschutzerklrungmuster-zec.de/" target="_blank">datenschutzerklärungmuster.de</a>&nbsp;erstellt.</p>